<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :so_id %>
    <%= f.input :creation_date %>
    <%= f.input :score %>
    <%= f.input :num_answers %>
    <%= f.input :accepted_answer_so_id %>
    <%= f.input :title %>
    <%= f.input :view_count %>
    <%= f.input :link %>
    <%= f.input :body %>
    <%= f.input :answer_count %>
    <%= f.input :is_answered %>
    <%= f.input :owner %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
