<% if params[:tag] %>
	<h3 class="pagetitle"><%= "Top #{(params[:tag])} Questions"%></h3>
<% else %>
	<h3 class="pagetitle">Top Questions on Stack Overflow</h3>
<% end %>	

<div class="container-narrow">		
	<div class="row-fluid">	
		<%= render 'layouts/sidebar'%>
		<div class="q-content">
		
			<%# @questions.in_groups_of(2, false) do |questions| %>
				<%# questions.each do |question| %>
				<% @questions.each do |question| %>
				<div class="span9">
					Title: <%= link_to question.title.html_safe, question.link %><br />
					Score: <%= question.score %><br />
					Num Answers: <%= question.answers_count %><br />
					Tags: <% question.tags.each do |tag| %>
							<%= tag.name %>, 
					  	  <% end %>
				<h3>Body</h3>
					<div class="question-body">
						<%= markdown question.body %>				
						<%#= raw Pygments.highlight(question.body) %>
						<%#= question.body %>
						<%#= raw(question.body)%>
						<%#= raw(truncate(question.body, :length => 600, :omission => ' ... (see more)')) %>
					</div>
				</div>				
				<% end %>
			<%# end %>
		</div>
	</div>
</div>
<hr>

	<%= will_paginate @questions %>
	
  <!-- <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <a class="btn btn-large btn-success" href="#">Sign up today</a>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

  <div class="span6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div> -->
