<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Boso" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Boso" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
      <div class="container-fluid">
        <div class="masthead">
         <%= render 'layouts/navigation' %>
        </div>

        <div class="jumbotron">
            <%= render 'layouts/messages' %>
			<% if controller_name == "tags" %>
				<h3 class="pagetitle"><%= "Top #{(params[:id])} Questions"%></h3>
			<% else %>
				<h3 class="pagetitle">Top Questions on Stack Overflow</h3>
			<% end %>	

			<div class="container-narrow">		
				<div class="row-fluid">	
					<%= render 'layouts/sidebar'%>
					<%= yield %>
				</div>
			</div>
						
        </div>

        <hr>

        <div class="footer">
			© Built by <a href="http://5kmvp.com">5KMVP</a>
        </div>

      </div> <!-- /container -->
	  <% if Rails.env.development? %>
		  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
	  <% end %>	
	  
	  <% if Rails.env.production? %>
		  <script type="text/javascript">

		    var _gaq = _gaq || [];
		    _gaq.push(['_setAccount', 'UA-39782305-1']);
		    _gaq.push(['_trackPageview']);

		    (function() {
		      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		    })();

		  </script>
	  <% end %>  	  	  
  </body>
</html>
